In [26]:
data = '''park sunje 890901-1074422
kim sunhee 990103-2079912'''

In [22]:
print(data)

park sunje 890901-1074422
kim sunhee 990103-2079912

In [65]:
x = list(data)
flag = list()

for i in range(len(x)):
    if(x[i] == "-"):
        k = i+1
        flag.append(x[i+1])
        for k in range(k, k+7):
            x[k] = "*"
            
            
count = 0
flag_count = 0
for a in range(len(x)):
    if(x[a] == " "):
        count += 1
        if(count == 2):
            if(flag[flag_count] == '1' or flag[flag_count] == '3'):
                x.insert(a+1, '남 ')
            elif(flag[flag_count] == '2' or flag[flag_count] == '4'):
                x.insert(a+1, '여 ')
            else:
                continue    
            count = 0
            flag_count += 1

for t in range(len(x)):
    print(x[t], end = "")

park sunje 남 890901-*******
kim sunhee 여 990103-*******

In [68]:
%%writefile Testdata.txt
홍길동 560922-1089123 02-705-8491
홍길동 560922-1089123 042-7052-8491
김바한솔 911212-1089123 042-705-8491
김연찬 920922-1089123 031-7054-8491

Overwriting Testdata.txt

In [67]:
f = open("Testdata.txt")
lines = f.readlines()
result = []
flag = "a"
for line in lines:
    tmp = list(line)
    for i in range(len(line)):
        if(tmp[i] == "-"):
            k = i+1
            flag = tmp[i+1]
            if(flag == '1' or flag == '3'): #남자
                tmp[len(line)-1] = " 남\n"
            else: #여자
                tmp[len(line)-1] = " 여\n"
            for k in range(k, k+7):
                tmp[k] = "*"
            break     
    result.append(tmp)
    
for a in range(len(result)):
    for b in range(len(result[a])):
        print(result[a][b], end = "")

홍길동 560922-******* 02-705-8491 여
홍길동 560922-******* 042-7052-8491 남
김바한솔 911212-******* 042-705-8491 남
김연찬 920922-******* 031-7054-8491 남